<!DOCTYPE html>
<html id="mapperHTML">
  <head>
    <meta charset="UTF-8">
    <title>Create mapper object</title>
    <meta http-equiv="Content-Security-Policy" content="script-src * data: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval';" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
    <link rel="stylesheet" href="./../assets/css/main.css" />
    <link rel="stylesheet" href="./../assets/css/dropdown.css" />
    <!--[if IE 8]><script src="./../assets/js/es5.js"></script><![endif]-->
    <link rel="stylesheet" href="./../assets/css/selectize.default.css" />
  </head>
  <body id='mapperBody'>
    <div id="scrollDiv">
      <div id="busyDiv"><img src="./../assets/css/images/busy.gif" /><label>Loading...</label></div>
      <fieldset id='fsWorkSpace'>
        <label id="wpLabel">Working directory&nbsp;<i class="fas fa-info-circle tooltip"><span class="tooltiptext">This is a directory where you want to save your works.</span></i></label>
        <button id="btnWrkSpace">select a working directory</button>&nbsp</label>&nbsp<label id="lblWrkSpace"></label>
      </fieldset>
      <fieldset id='fsFileSelect'>
        <label id="fsLabel">Select a csv file from: </label>
        <div class="showhide">
          <ol>
            <li>File name should be alphanumeric without space.</li>
            <li>The delimiter of the csv file should be comma (,).</li>
            <li>First raw should contains the headers.</li>
            <li>Each column name in the header raw should be alphanumeric without space.</li>
            <li>First column should be an index column which will contain the raw number. For instance, 1 for first row, 2 for second raw, ..., n for n-th raw.</li>
          </ol>
        </div>
        <button id="file-input" name="btnFileChoose">Choose a csv file</button>&nbsp<label id="lblFileName"></label>
      </fieldset>
      <!-- Filter selection -->
      <fieldset id='fsFilterParams'>
        <label id="fcLabel">Select a filter, the number of windows and % overlap</label>
        <div id="filterContainer"></div>
        <span id='addFilter'><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add filter</span>
      </fieldset>
      <!-- cluster selection -->
      <fieldset id='fsClusterParams'>
        <label style="margin:0em 0em 0em 1em;">Select real valued dimension for distance based clustering. (One dimension is highly recommended)</label>
        <div id="clusterContainer"></div>
      </fieldset>
      <fieldset id="advance">
        <legend><i class="fas fa-plus-circle"></i>&nbsp;Advance settings&nbsp;</legend>
        <div id="advContainer"></div>
      </fieldset>
      <button id="btnCrMpr">Create mapper</button>

      <fieldset style="display:none;">
        <legend>Test code</legend>
      <h1>Hello World!</h1>
      We are using node <script>document.write(process.versions.node)</script>,
      Chrome <script>document.write(process.versions.chrome)</script>,
      and Electron <script>document.write(process.versions.electron)</script>.

      <p>
          <label>Enter a number:</label><input type='text' value='0' name='txtVal' id='txtVal' /><button onclick="txtClick(); return false;">Compute</button>
          <br />
          <label>Squar root is:</label>&nbsp;<label id='lblsrt'><label/>
      </p>

      <script>
        var addon = require('bindings')('hyppo-xd');
        function txtClick(){
          var val = parseInt(document.getElementById("txtVal").value);
          var srt = addon.invoke("SQRT", val);
          document.getElementById("lblsrt").innerHTML = srt;
        }
      </script>
    </fieldset>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="./../assets/js/selectize.js"></script>
    <script src="./../assets/js/d3/common.js"></script>
    <script src="./../assets/js/d3/mapper.js"></script>
  </body>
</html>
